<main>
  <section class="first--know">
    <p class="title--javascript js--title">VARIABLES</p>

    <p class="javascript--paragraph js--paragraph collapsed">
      Variable means anything that can vary. In JavaScript, a variable stores
      the data value that can be changed later on. Use the reserved keyword LET
      or CONST to declare a variable in JavaScript.
    </p>
    
    <div class="container-button">
    <div class="button--second__part" /><a
      href="page2.html"
      target="_blank"
      >Go</a
    ></div>
  </div>
    
  </section>

  <section class="first--know">
    <p class="title--javascript js--title_Two">CONDITIONALS</p>

    <p class="javascript--paragraph js--paragraph_Two collapsed">
      Conditional statements control behavior in JavaScript and determine
      whether or not pieces of code can run. There are multiple different types
      of conditionals in JavaScript.
    </p>
    <div class="container-button">
    <div class="button--second__part" /><a
      href="page3.html"
      target="_blank"
      >Go</a
    ></div>
  </div>
  </section>

  <section class="first--know">
    <p class="title--javascript js--title_Three">FUNCTIONS</p>

    <p class="javascript--paragraph js--paragraph_Three collapsed">
      A JavaScript function is a block of code designed to perform a particular
      task. A JavaScript function is executed when "something" invokes it (calls
      it).
    </p>
    <div class="container-button">
    <div class="button--second__part" /><a
    href="page4.html"
    target="_blank"
    >Go</a
  ></div>
</div>
  </section>

  <section class="first--know">
    <p class="title--javascript js--title_Four">EVENTS</p>

    <p class="javascript--paragraph js--paragraph_Four collapsed">
      JavaScript's interaction with HTML is handled through events that occur
      when the user or the browser manipulates a page. When the user clicks a
      button, that click is an event.
    </p>
    
    <div class="container-button">
    <div class="button--second__part" /><a
      href="page5.html"
      target="_blank"
      >Go</a
    ></div>
  </div>
  </section>

  <section class="first--know">
    <p class="title--javascript js--title_Five">OBJECTS</p>

    <p class="javascript--paragraph js--paragraph_Five collapsed">
      Is a standalone entity with properties and type. Compare it with a cup,
      for example. A cup is an object, with properties. A cup has a color, a
      design, weight, a material it is made of, etc.
    </p>
    
    <div class="container-button">
    <div class="button--second__part" /><a
      href="page6.html"
      target="_blank"
      >Go</a
    ></div>
  </div>
  </section>

  <section class="first--know">
    <p class="title--javascript--arrays__and__loops js--title_Six">
      ARRAYS AND LOOPS
    </p>

    <p class="javascript--paragraph js--paragraph_Six collapsed">
      JavaScript arrays are zero based, which means the first item is referenced
      with an index of 0. As you can see the for loop statement uses three
      expressions: the initialization, the condition, and the final expression.
    </p>

    <div class="container-button">
    <div class="button--second__part" /><a
      href="page7.html"
      target="_blank"
      >Go</a
    ></div>
  </div>
    
  </section>
</main>
