<section class="body--page__main">
  
  <h1 class="what--is__javascript">What is JavaScript?</h1>

  <img
  src="./assets/images/javascriptimg.png"
  title="javascript imagen"
  alt="javascript imagen"
  class="img--javascript__head"
/>

  <div class="content--box__description">

    <div class="text--box"></div>

    <p class="description--of__javascript">
      JavaScript is a text-based programming language used both on the
      client-side and server-side that allows you to make web pages interactive.
      Where HTML and CSS are languages that give structure and style to web
      pages, JavaScript gives web pages interactive elements that engage a user.
    </p>

    <img
      src="./assets/images/javascriptlogo.png"
      title="javascript logo"
      alt="javascript logo"
      class="img--javascript__logo"
    />

  </div>
  </div>

 <!-- CSS COMENTARY
 <section class="example--of__css">

  <h2 class="maked--with__css">This is maked with CSS

  <div class="animation--with__css">o.o</div>

  <div class="grass--for_the__floor"></div>

  </h2>

  </section>
   
</section> 
-->



 