<header class="menu--all__page">
  <img src="./assets/images/javascript.png" class="logotype--javascript" />
  <img
    type="button"
    src="./assets/images/menuHAMB.png"
    value="menu"
    class="button--menu__all__page js--hamb"
  />

  <ul class="principal--menu collapsed js--dropdown">
    <!-- <li class="menu--home">Home</li>
    <li class="menu--who_we_are">Who we are</li>
    <li class="menu--contact">Contact</li>
    <img src="./assets/images/arrow.png" class="white--arrow js--arrow" /> -->
  </ul>
</header>
