<header class="menu--all__page">
  <img src="./assets/images/javascript.png" class="logotype--javascript" />

  <div>
    <img
      type="button"
      src="./assets/images/menuHAMB.png"
      value="menu"
      class="button--menu__all__page js--hamb js--removed"
    />
    <section class="js--dropdown "></section>
    <ul class="principal--menu boardData js--menu collapsed">
      <li class="menu--home">Home</li>
      <li class="menu--who_we_are">Who we are</li>
      <li class="menu--contact">Contact</li>
     
    </ul>
  </section>
</div>
</header>
