//WEB FONTS

$antontype: "Anton", sans-serif;
$montserratthin: "Montserrat", sans-serif;
$montserratalternates: "Montserrat Alternates", sans-serif;
$monoton: "Monoton", cursive;

//WEB COLORS
$palegrey: #4d4d4d;
$almostdark: #000000;
$yellowjavas: rgb(255, 217, 0);
