.body--page__main {
  width: 100vw;
  height: 100%;
  background: linear-gradient(white -50%, $prettyblue);
  display: flex;
  flex-direction: column;

  .background--whats__javascript {
    background-image: url(../images/joints25c.gif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .what--is__javascript {
      text-align: center;
      align-items: center;
      color: rgb(102, 102, 102);
      padding: 10px;
      font-family: $lobster;
      font-size: 3rem;
      width: 300px;
      height: 150px;
      border-radius: 20px;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
      background: rgba($color: #f8f8f8, $alpha: 0.7);

      .img--javascript__head {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content--box__description {
    min-height: 200px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-color: solid 2px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .description--of__javascript {
      margin: 15px;
      font-family: $montserratalternates;
      font-size: 18px;
      color: black;
    }
  }
}

.img--javascript__logo {
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
}

/*.example--of__css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.maked--with__css {
  font-family: $montserratalternates;
  color: $yellowjavas;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 500px;
  min-height: 500px;
  background-color: rgba(200, 250, 251, 0.164);
  margin-top: 50px;
  padding: 50px;
}

.grass--for_the__floor {
  max-width: 500px;
  height: 50px;
  background-color: yellowgreen;
}

.animation--with__css {
  background: $yellowjavas;
  margin-top: 50px;
  margin-left: 20%;
  color: white;
  font-size: 50px;
  padding: 3rem 3rem 5rem 3rem;
  max-width: 160px;
  position: relative;
  border-radius: 4rem 4rem 0 0;
  animation-name: animar;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  @keyframes animar {
    0% {
      left: 0;
      top: 0;
    }
    20% {
      left: 5rem;
      top: 0rem;
      color: $yellowjavas;
    }
    30% {
      top: 0rem;
      left: 5rem;
      color: white;
    }

    //60% {        ESTO HACE QUE BAJE EL MUÑEQUITO, YO LO HE QUITADO
    // top: 5rem;
    //  left: 0;
    // color: $yellowjavas;
    // }

    100% {
      top: 0;
      left: 0;
    }
  }
}

//AQUÍ VA UNA ANIMACIÓN DE JAVASCRIPT// */
