* {
  list-style: none;
  text-decoration: none;
}
.menu--all__page {
  height: 80px;
  width: 100%;
  background-color: $almostdark;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .logotype--javascript {
    width: 150px;
    height: 70px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .button--menu__all__page {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.principal--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 170px;
  height: 220px;
  background-color: rgba(90, 108, 167, 0.8);
  border-radius: 10px;
  border: solid 2px $yellowjavas;
  box-shadow: 0px 5px 10px 0px;
  margin-left: 20px;
  margin-top: 30px;

  .menu--home {
    text-align: center;
    width: 100px;
    height: 20px;
    //border-bottom: dotted 2px rgb(255, 255, 255);
    font-family: $montserratalternates;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 15px;
  }

  .menu--who_we_are {
    text-align: center;
    width: 100px;
    height: 20px;
    //border-bottom: solid 2px rgb(255, 255, 255);
    font-family: $montserratalternates;
    color: white;
    font-size: 18px;
    margin: 15px;
  }

  .menu--contact {
    text-align: center;
    width: 100px;
    height: 20px;
    //border-bottom: solid 2px rgb(255, 255, 255);
    font-family: $montserratalternates;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 15px;
  }
  .link-style {
    color: white;
  }
}

.collapsed {
  display: none;
  transition: width 0.3s ease;
}

.hidden {
  display: none;
}
