.first--know__booleans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px white;
  margin: 40px;

  .title--booleans {
    font-family: $monoton;
    font-size: 40px;
    color: $yellowjavas;
    margin-top: 10px;
    text-align: center;
  }
}

.booleans--paragraph {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-family: $montserratthin;
  margin-bottom: 10px;
}
